body {
    background-image: linear-gradient(to bottom, #4A6CDD, #012089);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
}

.main_content {
  position: relative; /* needed for z-index to take effect */
  z-index: 1; /* above trash */
}

.trash-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: -1; /* stay behind main content */
  overflow: hidden;
}

.trash {
  position: absolute;
  width: 50px;
}

