<!doctype html>
<html lang='en' data-theme="light">
<head>
    <meta charset='utf-8'>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ page_title }}</title>
    <link rel='stylesheet' href="{{ url_for('static', filename='style.css') }}">

    {% block head_stuff %}{% endblock %}
</head>

<body>

{% block nav %}


</div>
{% endblock %}

<!-- Flash Messages -->
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <div id="messages">
      {% for msg in messages %}
        <p>{{ msg }}</p>
      {% endfor %}
    </div>
  {% endif %}
{% endwith %}

<!-- Main Content -->
<div class="main" id="main">
  {% block main_content %}
    <h1>Welcome!</h1>
  {% endblock %}
</div>

</body>
</html>