<!-- (CleenCode) -->
<!-- HTML template for problem page -->

{% extends "base.html" %}

{% block main_content %}

<p style="margin-top: 130px;"><h1 class="page_title">{{ data['problem_name'] }}</h1></p>


<div class="problem_container">
  <div>
    <h2>Description</h2>
    <pre>
        {{ data['description'] }}
    </pre>
  </div>
  <div>
    <h2>Incorrect Solution</h2>
    <pre class="code">
        {{ data['incorrect_code'] }}
    </pre>
  </div>
</div>
<p></p>
<div class="problem_container">
  <div>
    <form method=POST action="">
      <label for="code">Your Code Here:</label> 
      <p>
        <textarea id="code" name="code">{{ data['incorrect_code'][1:] }}</textarea>
      </p>
      <input class="btn" type="submit" name="submit" value="Submit">
  </form>
  </div>
  
</div>

{% endblock %}