<!-- (CleenCode) -->
<!-- HTML template for problems page -->

{% extends "base.html" %}

{% block main_content %}

<h1 class="page_title">Problems</h1>

<!-- <span class="page_text"> -->
    
    <div class="container">
    <div class="section">
        <h2>Level 1</h2>
        <a href="{{ url_for('problems') }}" class="btn">TwoSum</a>
    </div>
    <div class="section">
        <h2>Level 2</h2>
        <a href="{{ url_for('problems') }}" class="btn">Palindrome</a>
    </div>
    <div class="section">
        <h2>Level 3</h2>
        <a href="{{ url_for('problems') }}" class="btn">Remove Node</a>
    </div>
    </div>
    
<!-- </span> -->

{% endblock %}