<!-- (CleenCode) -->
<!-- HTML template for problem page -->

{% extends "base.html" %}

{% block main_content %}

<p style="margin-top: 130px;"><h1 class="page_title">{{ data['problem_name'] }}</h1></p>


<div class="problem_container">
  <div>
    Left column content
  </div>
  <div>
    Right column content
  </div>
</div>

<span class="page_text">
    <label> 
        Incorrect Solution:
        <p>
            <pre><code>
                {{ data['incorrect_code'] }}
            </code></pre>
        </p>
    </label>
</span>

{% endblock %}