<!-- (CleenCode) -->
<!-- HTML template for problem page -->

{% extends "base.html" %}

{% block main_content %}

<p style="margin-top: 130px;"><h1 class="page_title">{{ data['problem_name'] }}</h1></p>


<div class="problem_container">
  
  <div>
    <h2>Description</h2> 
    <pre>
        {{ data['description'] }}
    </pre>
  </div>
</div>

<p></p>

<div class="problem_container">

  <div>
    <form method=POST action="">
      <label for="code">Your Code Here:</label> 
      <p>
        <!-- <textarea id="code" name="code">{{ data['incorrect_code'][1:] }}</textarea> -->
         <div class="editor-container">
            <pre id="highlight-layer"><code id="highlight-code"></code></pre>
            <textarea id="code" name="code" spellcheck="false" autocomplete="off" autocorrect="off" autocapitalize="off">{{ data['incorrect_code'] }}</textarea>
            <input class="test" type="submit" name="test" value="Test">
        </div>
      </p>
  </form>
  </div>

  <!-- output of test cases -->
  <div>
    <label for="code">Test Cases:</label>
    <!-- dianna wrote this -->
    {% block test_cases %}
      
    {% endblock %}
  </div>

</div>

{% endblock %}