<!-- (CleenCode) -->
<!-- HTML template for problem page -->

{% extends "base.html" %}

{% block main_content %}

<h1 class="page_title">Two Sum</h1>

<span class="page_text">
    <label> 
        Incorrect Solution:
        <p>
            <pre><code>
                {% raw %}
                {{incorrect_code}}
                {% endraw %}
            </code></pre>
        </p>
    </label>
    <form method="post" action="/test/" id="codeForm">
        <div class="editor-container">
            <pre id="highlight-layer"><code id="highlight-code"></code></pre>
            <textarea id="code" name="code" spellcheck="false" autocomplete="off" autocorrect="off" autocapitalize="off"></textarea>
        </div>
        <button type="button" id="testBtn" class="btn" style="margin-top: 10px;">Test</button>
        <div id="console-box" class="console-box">
            <div class="console-header">Console Output</div>
            <div id="console-output" class="console-output"></div>
            <button type="button" id="clearBtn" class="console-btn">Clear</button>
        </div>
    </form>
    </label>
</span>

{% endblock %}