<!-- (CleenCode) -->
<!-- HTML template for problem page -->

{% extends "base.html" %}

{% block main_content %}

<h1 class="page_title">Two Sum</h1>

<span class="page_text">
    <label> 
        Incorrect Solution:
        <p>
            <pre><code>
                {% raw %}
                def twoSum(nums, target):
                    for i in range(len(nums)):
                        for j in range(len(nums)):
                            if nums[i] + nums[j] == target:
                                return [i, j]
                {% endraw %}
            </code></pre>
        </p>
    </label>
    <form method="post" action="/test/">
        <textarea id="code" name="code" rows="5" cols="50">def test(): 
        return 67</textarea>
        </label>
        <p></p>
        <input type="submit" value="submit">
    </form>
</span>

{% endblock %}